.form-layout{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -60px;
}

form{
    display: contents;
    justify-content: space-around;
}

input[type='submit']{
    border: 1px solid black;
    outline: none;
    font-family: 'Sigmar One', cursive;
    background: black;
    color: white;
    width: 70px;
}

input[type='submit']:hover{
    background: rgb(63, 61, 61);
    color: rgb(236, 236, 236);
    cursor: pointer;
}

.red-text{
    color: red;
}

.input-name{
    margin-bottom: 10px;
    border-radius: 3px;
    border: transparent;
}
